[submodule "3rdparty/bullet"]
	path = 3rdparty/bullet
	url = https://github.com/bulletphysics/bullet3
	branch = master
[submodule "3rdparty/recast"]
	path = 3rdparty/recast
	url = https://github.com/recastnavigation/recastnavigation
[submodule "mud"]
	path = mud
	url = https://github.com/hugoam/mud/
[submodule "3rdparty/hashmap"]
	path = 3rdparty/hashmap
	url = https://github.com/skarupke/flat_hash_map
